:root {
    --yellow: #ebdb51; 
    --black: #000000;
    --white: #ffffff;
}

body {
    background-color: var(--yellow);
}

header {
    background-image: url("../images/header-img.JPG");
    background-size: 100vw;
    /* height: auto; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--black) 8px;
}

h1 {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    margin: 2% 5%;
    padding: 3%;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bolder;
    font-size: 5em;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.column {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border: solid var(--black) 8px;
    width: 100%;
    margin-top: 2%;
}

#search-area {
    background-color: var(--black);
    color: var(--yellow);
    padding: 3%;
}

#search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#search-label {
    font-weight: bold;
    width: 90%;
}

#city-search-input {
    margin: 3% 5% 0% 0%;
    width: 75%;
}

#search-btn {
    background-color: var(--yellow);
    color: var(--black);
    padding: 1.5%;
    margin-top: 3%;
    font-weight: bold;
    border-radius: 10px;
    transition: all 400ms linear;
}

#search-btn:hover {
    cursor: pointer;
    background-color: var(--white);
}

.city-option {
    background-color: var(--yellow);
    color: var(--black);
    margin: 3% 0%;
    padding: 2% 2% 2% 6%;
    font-weight: bold;   
    transition: all 400ms linear; 
    border-radius: 35px;
    text-align: center;
}

.city-option:hover {
    cursor: pointer;
    background-color: var(--white);
}

.results-area {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    min-height: 200px;
}

.results-header {
    font-size: 1.5em;
}

.brewery-list {
    margin: 20px 0px;
    padding: 4%;
    border: solid var(--black) 5px;
    border-radius: 25px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

.brewery-name {
    transition: all 400ms linear;
    color: var(--yellow);
}

.brewery-list:hover {
    cursor: pointer;
}

.brewery-list:hover > .brewery-name {
    color: var(--white);
}

.brewery-name {
    font-size: 1.3em;
    font-weight: bold;
    /* color: var(--yellow); */
}

#map-area {
    background-color: var(--white);
    text-align: center;
}

#map { 
    width: 100%;
    height: 400px;
}

.add-route-btn {
    background-color: red;
}






@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
        margin: 5%;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 95%;
    }

    #city-search-input {
        width: 70%;
    }
}