:root {
    --yellow: #ebdb51; 
    --black: #000000;
    --white: #ffffff;
}

body {
    background-color: var(--yellow);
}

/* Header */
header {
    background-image: url("../images/header-img.JPG");
    background-size: 100vw;
    /* height: auto; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--black) 8px;
}

h1 {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    margin: 2% 5%;
    padding: 3%;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bolder;
    font-size: 5em;
}

/* Main area structure */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
}

#first-column {
    width: 30%;
}

#second-column {
    width: 65%;
}

section {
    border: solid var(--black) 8px;
    width: 100%;
}


/* Search box */
#search-area {
    background-color: var(--black);
    color: var(--yellow);
    padding: 3%;
}

#search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#search-label {
    font-weight: bold;
    width: 90%;
}

#city-search-input {
    margin: 3% 5% 0% 0%;
    width: 75%;
}

.btn {
    background-color: var(--yellow);
    color: var(--black);
    padding: 1.5%;
    margin-top: 3%;
    font-weight: bold;
    border-radius: 10px;
    transition: all 400ms linear;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--white);
}

/* List of restaurants */
#local-results-area, .hidden {
    display: none;
}

.route-list, .saved-list {
    width: 100%;
}

.city-option {
    background-color: var(--yellow);
    color: var(--black);
    margin: 3% 0%;
    padding: 2% 2% 2% 6%;
    font-weight: bold;   
    transition: all 400ms linear; 
    border-radius: 35px;
    text-align: center;
    width: 95%;
}

.city-option:hover {
    cursor: pointer;
    background-color: var(--white);
}

.results-area {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    min-height: 150px;
    margin-top: 2%;    
}

.results-header {
    font-size: 1.5em;
    margin-bottom: 3%;
}

.saved-routes {
    width: 100%;
}

/* Under the map, control buttons to save routes */
#route-control-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    color: var(--yellow);
    padding-bottom: 3%;
}

#route-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 25%;
}

#route-name-label {
    font-size: 1.2em;
    font-weight: bold;
}

#save {
    border: solid var(--black) 2px;
    width: 100%;
    margin-top: 2%;
}

.brewery-list, .saved-list {
    margin: 20px 0px;
    padding: 4%;
    border: solid var(--black) 5px;
    border-radius: 25px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

.brewery-name, .saved-list {
    transition: all 400ms linear;
    color: var(--yellow);
    font-size: 1.3em;
    font-weight: bold;
}

.brewery-list, .saved-list:hover {
    cursor: pointer;
}

.brewery-list:hover > .brewery-name {
    color: var(--white);
}

.saved-list:hover {
    color: var(--white);
}

/* Map */
#map-area {
    background-color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map { 
    width: 100%;
    height: 500px;
}

#map-header {
    background-color: var(--black);
    color: var(--yellow);
    text-align: center;
    padding: 2%;
    width: 100%;
    font-size: 1.5em;
}

.add-route-btn {
    background-color: var(--black);
    color: var(--yellow);
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 25px;
    padding: 2%;
}

/* Instructions */
#instructions-area {
    padding: 5%;
}

.instructions-header {
    font-family: 'Cormorant Unicase', serif;
    font-size: 3em;
    font-weight: bold;
    padding: 2%;
}

.instructions-text {
    font-weight: bold;
    padding: 2%;
}





@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
        margin: 5%;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    #city-search-input {
        width: 70%;
    }

    .column {
        width: 95% !important;
    }

    #route-form {
        width: 70%;
    }

    #route-control-area {
        justify-content: center;
    }

    #first-column {
       order: 2;
    }
}
